:root{
  --bgcolor-primary: rgb(219, 74, 30);
  --fontcolor-primary : #fff;
}


html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
 
}

.navbar-light {
  background: var(--bgcolor-primary) !important;
  color:var(--fontcolor-primary);
}


.title {
  color: (--fontcolor-primary);
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  border-radius: 15px 0;
}

.container {
  width: 90%;
}

.card {
  padding: 1rem;    
  text-align: center;
  color: rgb(219, 74, 30);
  border: 1px dotted rgb(219, 74, 30);
  box-shadow: 5px 10px rgb(49, 49, 49);
  height: 250px;
  position: relative;
  margin-bottom: 10px;
}

.readbtn { 
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; 
  background-color: rgb(53, 141, 65);
  border: 1px solid rgb(53, 141, 65);
  color: #fff;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-left: 10px;  
}

.notreadbtn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 136, 0);
  border: 1px solid rgb(255, 136, 0);
  color: #fff;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-left: 10px;  
}

.deletebtn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 1;
  margin-right: 10px;
  background-color: rgb(139, 18, 18);
  border: 1px solid rgb(139, 18, 18);
  color: #fff;
  border-radius: 2px;
  margin-bottom: 5px;  
}

.newbook {
  display: flex;
  margin-top: 40px;
}

.addbtn {
  border: 2px solid rgb(219, 74, 30);
  border-radius: 5px;
  background-color: rgb(219, 74, 30);
  color: white;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

form {
  display: none;
  width: 81%;
  margin: 0 auto;
  border: 1px solid rgb(219, 74, 30);
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(236, 130, 98);
  text-align: center;
  color: #fff;
  font-weight: 700;
}

form input {
  width: 50%;
  padding: 5px;
  margin: 0.5rem;
  border: 1px solid rgb(219, 74, 30);
  border-radius: 5px;
}

form input:last-child {
  width: auto;
}

.display {
  display: block;
}

.error {
  display: none;
  width: 50%;
  background-color: rgb(143, 25, 25);
  color: #fff;
  margin: 0 auto;
  border: 1px solid rgb(143, 25, 25);
  border-radius: 4px;
  padding: 5px;
}

.error-display {
  display: block;
}

.submitbtn {
  background-color: rgb(49, 49, 49);
  color: white;
  width: 10vw;
  padding: 0.1rem;
}

footer {
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(49, 49, 49);
  color: #fff;
}

footer p {
  margin-top: 15px;
}

footer li {
  list-style: none;
}

footer a {
  color: rgb(219, 74, 30);
}
footer a:hover {
  color: #fff;
}

.footer-copyright{
  background-color: black;
}
.flexfooter {
  display: flex;
  justify-content: space-around;
}
